MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=Cluster0
MONGODB_DB=smart_apartment_db
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=Cluster0
DB_NAME=smart_apartment_db
SIM_INTERVAL_SECONDS=5.0
SIM_APARTMENTS=8
SIM_ROOMS_PER_APARTMENT=3
